# Python Virtual Environment
.venv/
venv/
ENV/

# Python Bytecode & Cache
__pycache__/
*.py[cod]

# IDE Settings
.vscode/
.idea/

# OS Metadata
Thumbs.db
.DS_Store

# Temporary split dataset directory
dataset_split/